* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --azul-escuro: #07011B;
    --verde-claro: #00C851;
    --laranja-claro: #FF8000;
}

header{
    background-color: var(--azul-escuro);
    display: flex;
    
    
}

